@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  @apply dark:bg-black;
}

input,
textarea {
  @apply dark:text-black;
}

.logo {
  background: linear-gradient(to right, crimson,pink,springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
}

.logo:hover {
  color:rgba(0,0,0,0);
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

.toast-text {
  @apply !text-black;
}

.modal-open {
  overflow: hidden;
}